<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./Tests/bootstrap.php"
         syntaxCheck="false">

    <testsuites>
        <testsuite name="Grouping Tests">
            <directory suffix=".php">Tests</directory>

        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory>.</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./Resources</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>


</phpunit>